* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    grid-template-rows: 120px auto 120px;
    grid-template-areas: 
        'aside aside aside aside aside aside'
        'main main main main header header'
        'footer footer footer footer footer footer'
    ;
}

header {
    background-color: blueviolet;
    grid-area: header;
}

main {
    background-color: chocolate;
    grid-area: main;
}

aside {
    background-color: chartreuse;
    grid-area: aside;
}

footer {
    background-color: cornflowerblue;
    grid-area: footer;
}