* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 120px;
    gap: 1rem;
}

header {
    background-color: blueviolet;
    grid-column: auto / span 6;
}

main {
    background-color: chocolate;
    grid-column: auto / span 4;
    grid-row: auto / span 4;
}

aside {
    background-color: chartreuse;
    grid-column: auto / span 2;
    grid-row: auto / span 4;
}

footer {
    background-color: cornflowerblue;
    grid-column: auto / span 6;
}